
@font-face {
    font-family: Gilroy;
    src: url("../Assets/Fonts/Gilroy-Light.otf") format("opentype");
    
}
@font-face {
    font-family: GilroyBold;
    src: url("../Assets/Fonts/Gilroy-ExtraBold.otf") format("opentype");
   
}
body{

color:white !important;

max-width: 1920px;
overflow-x: hidden;
padding: 0;
margin: 0;
font-family: Gilroy;
/* background-color: #7f53ac; */
/* background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%) !important; */
background-color: black;


}

.box{
    position: relative;
    width:300px;
    height:300px;
    display: flex;
    align-items: center;
    margin:40px; 
    transition:0.5s;
    background: black;
    border-radius: 20px;

}

.box:hover{
    height: 400px;
}



.box .membre{

    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:10px;
    box-sizing: border-box;
    border-radius:20px;
}

.box .membre img{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s;
    object-fit:cover;
    border-radius: 15px;

}

.box:hover .membre img{
    opacity:0.2;
}

.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right:-2px;
    bottom:-2px;
    background:black;
    z-index: -1;
}

.box:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right:-2px;
    bottom:-2px;
    background:black;
    z-index: -2;
    filter: blur(40px);
}

.box:before,
.box:after{
    border-radius: 20px;
    background:linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}



.box .content
{   
    position:absolute;
    bottom:0;
    left:10px;
    right:10px;
    bottom:10px;
    height:90px;
    background: rgba(0, 0, 0, 0.4);
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content
{
    opacity:1;
}

.box .content h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;;
}

.box .content h2 span{
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1px;;
}

#membres_du_mois{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color: black;
    opacity: 0.999;
    border-radius: 15px;
}



 nav{
    opacity: 1;
    position:fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    left:0;
    z-index: 9;
    align-items: center;
    justify-content:space-around;
     background-color: rgb(0, 0, 0);
     top: 0;
     
    
}
#check{
    margin-top:1px;
    display: block;
}


#show-hidenav{
    display:none;
}
#club-name{
    margin-left: 30px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
#club-name img{
    padding-top:10px;
    width:80px;
    margin-right:40px;
} 

#h22{
 margin-top:7px;
}


ul{
    padding-right: 25px;
    display: flex;
    justify-content:space-between;
    list-style:none;
}

ul li a{
    margin-right: 10px;
    padding-left:20px;
    color:white;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
    text-decoration: none;
}

#nous{
    background-color: #2a2a72;
     background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
    /* background-image: linear-gradient(315deg, #7f53ac 0%, #6caca0 74%) !important; */

    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content:space-around;
    align-items:center;
    width:100vw;
    height:630px;
   gap:0px;
   font-size:20px!important;
   padding-bottom: 80px;

}
#textdiv{
    padding-right: 50px;
    width:50%;
    margin:auto;
  
}

#textdiv > a{
    color:black;
    font-size:20px;
    background-color: white;
    width:250px;
    height:50px;
    border-radius: 40px;
    border:none;
    /* transition: all 0.5s; */
     transition-delay: 250ms;
    text-decoration: none; 
}



#textdiv > a:hover {
    margin:0;
    padding:0;
    font-size:23px;
    color:white;
    background-color:black;
}

#imgdiv{
    
   padding-top: 10px;
    width:70%;
    height:450px;
}
#imgdiv img{
    position: relative;
    
    width: 750px;
    height: 650px;
    object-fit:cover;
}
#nous > p{
    padding-right: 40px;
    width:500px;
    word-wrap:break-word;
  
  overflow:hidden;
    
}
#nous > h1{
    width:400px;
    overflow:hidden;
    font-size: 20px !important;
    font-family: GilroyBold;
    color:rgb(38, 192, 74) !important;
}

.event{
    background-color: white !important;
    color:black !important;
    margin: auto;
    border-radius: 10px;
    position :relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width:550px;
    height:350px;
    display: flex;
    flex-direction: column;
}
.image{
    border-radius: 10px;
    position :relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width:500px;
    height:350px;
    display: flex;
    text-align:center;
    flex-direction: column;
    transition: all 0.5s;

}

.image div{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
   /* background-color: black;*/
    opacity:0.7;
    overflow:hidden;
    width:100%;
    height:0;
    transition: .5s ease;

}

.image:hover div{
    height:100%;
}

.image p{
    width:80%;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bold;
    overflow-wrap: break-word;     
}

.image >img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}

.art{
    background-color: white !important;
    color:blue !important;
    border-radius: 10px;
    position :relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width:500px;
    height:300px;
    display: flex;
    text-align:center;
    flex-direction: column;
    background-color: #f3ec78;
    
}

.event h2 p{
    position:relative;
    color:white;
    font-family: Arial, Helvetica, sans-serif;  
}
footer{
    
    position:absolute;
    
   width:100vw;
    height:80px;
    background-color:black;
    color:rgb(255, 255, 255);
    font-size:20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;  
}

#container{
  
    margin:auto;
    
    position:relative;
    display: flex;
    justify-content:space-between;
    width:90%;
    height:500px;
    gap:25px;
    
}

.Econtainer{
    padding-top: 30px;
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    height:auto;
    grid-gap: 1.5em;
}
.cont{
   
    padding-top:20px;
    margin-top:0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap:20px;
    height:auto;
    padding-bottom:50px;
    /* background-color: #7f53ac; */
    /* background-image: linear-gradient(315deg, #7f53ac 0%, #192b9e 74%); */
    /* background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    background-size:100%;
    background-attachment: fixed;
    background-repeat:no-repeat; 
    justify-content:center;align-items:center;
    background-image:url("../Assets/Images&Logos/Pattern-Seerene-data-analytics-management-ldark.png");
    
}



#hamb{
    display:none;
}
#check{
    display:none;
}

#mySpan
{
    position:absolute;
    background:#fff;
    transform: translate(-50%, -50%);
    pointer-events:none;
    border-radius: 50%;
    animation: animate 1% linear infinite;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
    }

    100%{
        width:50px;
        height:50px;
    }
}

@media screen and (max-width: 1200px) {
    #nous{
        margin-top: 0px;
        padding-top: 100px;
        display:flex;flex-direction:column; gap:10px;
    }

   
    #membres_du_mois{
        flex-direction: column;
    }
    #imgdiv img{
        position: relative;
        
        max-width: 400px;
        max-height: 300px;
        
        object-fit:cover;
    }
    #imgdiv{
        width:80%;
        display:flex;justify-content:center;align-items:center;
    }

    #textdiv{
        width:80%;
        position: relative;
        padding-right:0px;
    }
    #container{
        height: auto;
        display: flex;
        flex-direction: column;
       
      justify-content:center;align-items:center;
    }
    .image ,.art ,.event{
        width:85%;

    }

    .Econtainer{
        display:flex;
        flex-direction: column;
        font-size: 12px;
    }
    .cont{
        height:auto;
        padding-bottom: 25px;
        
    }

    nav{
        opacity:1;
        display: flex;
        flex-direction: column;
        height:auto;
    }
    ul{
        padding: 0;
        margin:-2px;
        position: fixed;
        width: 100%;
        height:auto;
        background: #000000;
        opacity:1;
        top: 80px;
        left: -130%;
        text-align: center;
        transition: all .5s;
        display:block;
      }
   
      li:hover{
          border-bottom: 2px solid white;
          padding-bottom: 18px;
          
         
      }

      nav ul li{
      
        
        display: block;
        margin: 50px 0;
        line-height: 30px;
        border:none;
        transition: all 0.5s;
        
      }
    #h22 {
        display:none;
    }
    #show-hidenav{
        display:inline;
    }
   
    .checkbtn{
        margin-top:-65px;
        margin-right: 18px !important;
        transform: translateX(200px);
        float:right;

    }
    #check{
        display:none;
        top:0px;
    }
    #check:checked ~ ul {

    left: 0%;
}
  
#hamb{
    display:inline;
    width:45px;
    color: aliceblue;
}
      
}